* {
  box-sizing: border-box;
}
body {
  background-color: #006080;
  color: #fff;
  height: 100vh;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
.link {
  background-color: #a35402;
  text-decoration: none;
  padding: 0.5em 1em 0.5em 1em;
  border-radius: 1em;
  color: black;
  font-size: 15px;
}
.title {
  font-size: 48px;
  font-weight: black;
}
.text-section {
  font-family: "Roboto", sans-serif;
  margin-bottom: 2.5em;
}

img {
  height: auto;
  max-width: 100%;
  margin-top: 5em;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-section {
    width: 50%;
    padding-right: 1em;
  }
  .img-section {
    width: 50%;
  }
  img {
    margin-top: 0;
    height: 20em;
    max-width: 100%;
    float: right;
    padding-left: 1em;
  }
}
